<app-nav></app-nav>

<!-- WELCOME TO REVATURE REIMBURSEMENT PORTAL -->
<h2 id="rectangle">Welcome to the Revature Reimbursement Portal: {{user.user_first_name}} {{user.user_last_name}}</h2>

<!-- SUBMIT A NEW REIMBURSEMENT -->
<h1>Submit a new request:</h1>
<form (ngSubmit)="newReimb()">
  <input type="number" name="amount" [(ngModel)]="reimbursement.amount" placeholder="Amount">
  <input type="text" name="description" [(ngModel)]="reimbursement.description" placeholder="Description">
  <select name="type" [(ngModel)]="reimbursement.typeId">
    <option *ngFor="let type of types" [ngValue]="type.id">{{type.name}}</option>
  </select>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>


<br>
<br>
<br>

<!-- Button to toggle between pending and show all -->
<button class="btn btn-primary" (click)="show = !show">{{show ? 'Show All History' : 'Show Pending'}}</button>
<div *ngIf="show">

  <!-- SHOW PENDING REQUESTS WHEN SHOW = TRUE -->
  <h1>Pending Requests:</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Reimbursement ID</th>
        <th scope="col">Amount</th>
        <th scope="col">Date Submitted</th>
        <th scope="col">Description</th>
        <th scope="col">Status</th>
        <th scope="col">Type</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reimb of reimbList">
        <th scope="row">{{reimb.reimbId}}</th>
        <td>{{reimb.amount | currency:'USD':'symbol':'1.2-2'}}</td>
        <td>{{reimb.submitted | date:'fullDate'}}</td>
        <td>{{reimb.description}}</td>
        <td>{{reimb.statusId | statusPipe}}</td>
        <td>{{reimb.typeId | typePipe}}</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- SHOW ALL USER REQUESTS WHEN SHOW = FALSE -->
<div *ngIf="!show">
  <h1>All of Your Requests:</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Reimbursement ID</th>
        <th scope="col">Amount</th>
        <th scope="col">Date Submitted</th>
        <th scope="col">Date Resolved</th>
        <th scope="col">Description</th>
        <th scope="col">Resolver Id</th>
        <th scope="col">Status</th>
        <th scope="col">Type</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reimb of fullReimbList">
        <th scope="row">{{reimb.reimbId}}</th>
        <td>{{reimb.amount | currency:'USD':'symbol':'1.2-2'}}</td>
        <td>{{reimb.submitted | date:'fullDate'}}</td>
        <td>{{reimb.resolved | date:'fullDate'}}</td>
        <td>{{reimb.description}}</td>
        <td>{{reimb.resolverId}}</td>
        <td>{{reimb.statusId | statusPipe}}</td>
        <td>{{reimb.typeId | typePipe}}</td>
      </tr>
    </tbody>
  </table>
</div>

<br>
<br>
<br>
<br>
<br>
